@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.css-10d1a0h-MuiButtonBase-root {
  font-weight: bold !important;
  text-transform: none !important;
  font-size: 17px !important;
  letter-spacing: 0px !important;
  margin-inline: 17px !important;
} */
